
/* On utilise font-face afin de pouvoir utiliser des polices qui sont ici téléchargées préalablement. */

@font-face {
	 font-family: "WorldSeries";
	 src: url("polices/WorldSeries_PERSONAL_USE_ONLY.otf") format("truetype");
}
@font-face {
	font-family: "Daybury";
	src: url("polices/Daybury.ttf") format("truetype");
}
@font-face {
	font-family: "cafeitalic";
	src: url("polices/cafe.italic.ttf") format("truetype");
}

/* permet de faire apparaître progressivement les éléments choisis */
.centretitre,.juniaisen,.accueiltitre,.centretitre2{
	-webkit-animation-name: fadeInOpacity;
	        animation-name: fadeInOpacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 0.6s; /* Choisir le temps d'apparition */
	        animation-duration: 0.6s; /* Ici on choisit 0,6s */
}
.courstd ,.matiere{
	-webkit-animation-name: fadeInOpacity;
	        animation-name: fadeInOpacity;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-duration: 2s; /* Ici on choisit 2s */
	        animation-duration: 2s;
}

/* Permet de définir l'opacité de l'élement au début et à la fin */
@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Image junia en png sur la page d'accueil , on lui applique le style suivant. */
.juniaisen img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	padding : 0;
	text-align:center;
	width: 300px;
}

/* C'est le texte "Cycle Informatique et Réseaux" de l'accueil, on lui applique le style suivant. */
.accueiltitre{
	display: block;
  text-align: center;
	justify-content: center;
  margin : auto;
	color : white;
	font-size: 20px;
	font-family: "cafeitalic";
	text-shadow: 2px 2px 5px black;
	text-decoration:none;
}
/* Ce sont les différentes pages où on peut accéder (Cours et TD,Contacts..) , on leur applique le style suivant. */
.onglets {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.onglets a {
	display: inline-block;
	margin: auto;
	text-align: center;
	padding: 10px;
	color : white  ;
	border: 10px solid #FFFFFF00;
	border-radius: 100px;
	font-size: 50px;
	font-family: "WorldSeries";
	text-shadow: 2px 2px 5px black;
	text-decoration:none;
}
/* Couleur des liens , on leur applique le style suivant. */
.onglets a[href="HTML/cours_td_accueil.html"]{
	color : #F9FDE7 ;
}
.onglets a[href="HTML/contact_accueil.html"]{
	color : #D3FDFE ;
}
.onglets a[href="https://aurion.junia.com"]{
	color : #D5FFEB ;
}

/* Les différents liens lorsqu'on les survole ou lorsqu'ils sont actifs  ,
on applique à ces pseudos-classes le style suivant. */

.onglets a:hover,.onglets a:active{
	color : white;
	text-shadow: 2px 2px 5px black;
	border: 5px solid #D1D1A2FF;
	border-radius: 150px;
	padding : 16px;
	transition: 0.6s;
	margin:auto;

}

/* Le titre de chaque page des onglets (Cours & TD , Contacts....)
on leur applique le style suivant.*/
.centretitre a{
	display: block;
  text-align: center;
	justify-content: center;
	color : white;
	padding-right:30px;
	padding-left:30px;
	padding-bottom: 30px;
	padding-top:0px;
	font-size: 65px;
	font-family: "WorldSeries";
	text-shadow: 2px 2px 5px black;
	text-decoration:none;
}

/* Les différents liens des titres lorsqu'on les survole ou lorsqu'ils sont actifs  ,
on applique à ces pseudos-classes le style suivant. */
.centretitre a:hover,.centretitre a:active {
	text-shadow: 10px 10px 15px black;
	transition: 1s;

}
/* Listes des cours et des TD pour chaque matière , la même classe a été utilisée.*/
.courstd ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.courstd ul li{
	list-style-type: none;
	padding: 10px;
	margin: 0;
}

/* Permet d'organiser correctement les blocs
des listes des cours et des TD dans chaque matière.*/

.maths,.Physique,.web,.informatique{
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin : 30px auto;
	text-align:center;
}
/* Liste des contacts dans la page contacts , on lui applique le style suivant*/
.contact_matiere ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;
}
/* Liens de la liste des contacts dans la page contacts , on lui applique le style suivant */
.contact_matiere ul li a {
    padding: 5px 0px;
		color: #FFFFD9;
		cursor: pointer;
		text-shadow: 2px 2px 5px black;
		font-family: cafeitalic;
		text-decoration: none;
}

/* Lorsqu'on survole ces liens, on applique
 à ces pseudos-classes le style suivant. */

.contact_matiere ul li a:hover {
    color: white;
		text-shadow: 2px 2px 5px silver;
		transition: 0,5s;
}

.contact_matiere ul li  {
    padding: 5px 0px;
		color: rgba(0,0,0,0);
		text-shadow: 2px 2px 5px black;
		font-family: cafeitalic;
		text-decoration: none;
}
h1,h2 {
	line-height: 30px;
	font-size: 38px;
	text-align: center;
	color: white;
	font-family: "Arial";
	text-shadow: 1px 1px 5px black;
}
/* Le titre des matières de chaque page des onglets (Maths , Physique....)
on leur applique le style suivant.*/
.titremaths,.titrephysique,.titreweb,.titreinformatique{
	line-height: 50px;
	font-size: 60px;
	margin: auto;
	padding: 0;
	text-align: center;
	color: #FFFCDD;
	font-family: "Daybury";
	text-shadow: 2px 2px 13px black;
}
/* Le bloc cours et le bloc TD de chaque matière auquels on applique le style suivant. */
.Cours , .TD{
	margin : auto;
	padding: 0;
}

h3{
	font-size: 32px;
	text-align: center;
	color:white;
	font-family: cafeitalic;
	text-shadow: 1px 1px 5px black;
}

/* Style de chaque lien vers un cours ou un td */
.courstd a{
	color: #E0E2B6;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	padding:5px;
	text-decoration:none;
	text-shadow: 1px 1px 5px black;


}
/* Style de chaque lien vers une matière (Mathématiques,Physique) dans la page de cours & td. */
.matiere a{
  list-style-type: none;
	color: white;
	font-size: 30px;
	text-decoration:none;
	text-shadow: 1.5px 1.5px 5px black;
	font-family: Arial;
	list-style:none;
}
/* Style de la liste des matières (Mathématiques,Physique) dans la page de cours & td. */
.matiere ul {
    margin:0;
    padding:0;
    text-align: center;
    list-style:none;
}
.matiere ul li {
    padding: 25px 0px;
}

/* Style de la liste des matières (Mathématiques,Physique) dans la
page de cours & td. Lorsqu'on les survole ou lorsqu'ils sont actifs  ,
on applique à ces pseudos-classes le style suivant.*/

.matiere a:hover,.matiere a:active{
	color : #C3FFF9;
	cursor: pointer;
	text-decoration:none;
	text-shadow: 3px 3px 7.5px black;
	letter-spacing: 3.5px;
	transition: 1.5s;

}
/*  Style de chaque lien vers un cours ou un td.
 Lorsqu'on les survole ou lorsqu'ils sont actifs  ,
on applique à ces pseudos-classes le style suivant.*/
.courstd a:hover,.courstd a:active{
	color : white;
	cursor: pointer;
	text-decoration:none;
	text-shadow: 1px 1px 5px black;
	letter-spacing: 2px;
	transition: 1.5s;

}
/* Permet de pouvoir faire des animations en Css.*/
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* Linear-gradient permet de faire un dégradé du fond en fonction du temps*/
body {
		/* Les 4 couleurs sur lequelles le dégradé se fait */
    background: linear-gradient(-60deg, #2F5334, #3C0574,#2A1997, #6F0000);

    background-size:10000% 10000%;

		/* L'animation dure 40s et est répétée à l'infini. */
    animation: gradient 40s ease infinite;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
		font-size: 16px;
		font-family: Helvetica, sans-serif;

}
/* On l'utilise afin de gérer le fond pour faire un dégradé.*/
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.backgroundd{
	/* On utilise z-index : -1 afin que l'animation des carrés ne soit pas cachée par le fond dégradé.*/
		z-index: -1;
	  position: fixed;
	  width: 100vw;
	  height: 100vh;
	  top: 0;
	  left: 0;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
}

/* On applique à une liste de blocs/carrés le style suivant*/
.backgroundd li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.15);
    animation: animate 26s linear infinite;
}

/* On applique à tous les blocs un style
afin de gérer leur emplacement de départ et leur temps d'animation.*/
.backgroundd li:nth-child(0) {
    left: 56%;
    width: 78px;
    height: 78px;
    bottom: -78px;
	animation-delay: 2s;
}
.backgroundd li:nth-child(1) {
    left: 3%;
    width: 82px;
    height: 82px;
    bottom: -82px;
    animation-delay: 2s;
}
.backgroundd li:nth-child(2) {
    left: 80%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 7s;
}
.backgroundd li:nth-child(3) {
    left: 2%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 7s;
}
.backgroundd li:nth-child(4) {
    left: 0%;
    width: 13px;
    height: 13px;
    bottom: -13px;
    animation-delay: 8s;
}
.backgroundd li:nth-child(5) {
    left: 56%;
    width: 84px;
    height: 84px;
    bottom: -84px;
}
.backgroundd li:nth-child(6) {
    left: 87%;
    width: 46px;
    height: 46px;
    bottom: -46px;
}
.backgroundd li:nth-child(7) {
    left: 71%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 29s;
}
.backgroundd li:nth-child(8) {
    left: 35%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 28s;
}
.backgroundd li:nth-child(9) {
    left: 56%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 5s;
}
.backgroundd li:nth-child(10) {
    left: 80%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 27s;
}
.backgroundd li:nth-child(11) {
    left: 86%;
    width: 76px;
    height: 76px;
    bottom: -76px;
    animation-delay: 33s;
}
.backgroundd li:nth-child(12) {
    left: 78%;
    width: 16px;
    height: 16px;
    bottom: -16px;
    animation-delay: 31s;
}
.backgroundd li:nth-child(13) {
    left: 44%;
    width: 80px;
    height: 80px;
    bottom: -80px;
    animation-delay: 53s;
}
.backgroundd li:nth-child(14) {
    left: 28%;
    width: 70px;
    height: 70px;
    bottom: -70px;
    animation-delay: 39s;
}
.backgroundd li:nth-child(15) {
    left: 1%;
    width: 22px;
    height: 22px;
    bottom: -22px;
    animation-delay: 42s;
}
.backgroundd li:nth-child(16) {
    left: 52%;
    width: 11px;
    height: 11px;
    bottom: -11px;
    animation-delay: 38s;
}
.backgroundd li:nth-child(17) {
    left: 53%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 71s;
}
.backgroundd li:nth-child(18) {
    left: 71%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 29s;
}
.backgroundd li:nth-child(19) {
    left: 36%;
    width: 35px;
    height: 35px;
    bottom: -35px;
    animation-delay: 75s;
}
.backgroundd li:nth-child(20) {
    left: 31%;
    width: 70px;
    height: 70px;
    bottom: -70px;
    animation-delay: 88s;
}
.backgroundd li:nth-child(21) {
    left: 35%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 18s;
}
.backgroundd li:nth-child(22) {
    left: 20%;
    width: 34px;
    height: 34px;
    bottom: -34px;
    animation-delay: 39s;
}
.backgroundd li:nth-child(23) {
    left: 9%;
    width: 109px;
    height: 109px;
    bottom: -109px;
    animation-delay: 103s;
}
